<!DOCTYPE html>
<html>
<head>

  <title>KLSTROL</title>

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
  <link href="https://fonts.googleapis.com/css?family=Passion+One|Oswald" rel="stylesheet">

</head>

<!-- header contains left-nav, site name and right-nav -->
<body>

  <div class="header">

    <div class="site-header">
      <a href = "/">
        <h1>KLSTROL</h1>
      </a>
    </div>

    <div class="nav-bar">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>

          <li>
            <a href="/vendors">Vendors</a>
          </li>
          <li>
            <a href = "/burgers">Burgers</a>
          </li>
          

          <li><a href = "/deals">Deals</a></li>
        </ul>
      </nav>
    </div>
    <div class="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>



