<!DOCTYPE html>
<html>
<head>

<title>KLSTROL</title>

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">

</head>

<!-- header contains left-nav, site name and right-nav -->
<body>

  <div class="header">

    <div class="site-header">
      <a href = "/">
      <h1>KLSTROL</h1>
      </a>
    </div>

    <div class="nav-bar">
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            this
          </li>
          <li>
            that
          </li>
          <li>
            <a href="/vendors">Vendors</a>
          </li>
          <li>
            <a href = "/burgers">Burgers</a>
          </li>
          

          <li><a href = "/deals">Deals</a></li>
        </ul>
      </nav>
    </div>


    <nav class="right-header">
      <ul>


      </nav>

    </div>

    <div class="main">
      <%= yield %>
    </div>
  </body>
  </html>



