<div class="edit-form">
<form action="/vendors/<%= @vendor.id %>" method = "post">
<label>
New Name:
<input type="text" name="name" value="<%= @vendor.name %>">
</label>
<input type="submit" value="update">
</form>
</div>