
<h1>Burger Vendors!</h1>

<table>
  <thead>
    <tr>
      <th>Delicious burgers from:</th>
    </tr>
    </thead>
    <tbody>
    <% for vendor in @vendors %>
    <tr>
      <td>
        <a href="/vendors/<%= vendor.id %>"
          <p><%= vendor.name %></p></a>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <a href="vendors/new">Add a new vendor</a>