<div class = "edit-selection">
<h1><%= @vendor.name %>!</h1>
  <form action="/vendors/<%= @vendor.id %>/edit" method="get" />
    <input type="submit" value="Edit">
  </form>

  <form action="/vendors/<%= @vendor.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
</div>

