<div class="edit-form">

  <form action="/deals/<%= @deal.id %>" method="post">
    <label>
      Deal Title:
      <input type="text" name="title" value ="<%= @deal.title %>" />
    </label>

    <label>
      burger:
      <select name = "vendor_id">
        <% for vendor in Vendor.all %>

        <option value="<%= vendor.id %>"><%= vendor.name %></option>

        <% end %>
      </select>
    </label>

    <label>
      Discounted on:
      <select name="day">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select>
    </label>
    <input type="submit" value = "Add Deal" />
  </form>

</div>