<h1>Deals!</h1>

<table>
<thead>
  <tr>
  <th>Deal Title</th>
  <th>Vendor</th>
  <th>Day</th>
  </tr>
</thead>
<tbody>


<% for deal in @deals %>
<tr>
<td><a href="/deals/<%= deal.id %>"><%= deal.title %></a></td>
<td><%= deal.get_vendor %></td>
<td><%= deal.day %></td>
</tr>
<% end %>
</tbody>
</table>

<a href="/deals/new">Add a new deal</a>