<form action="/deals" method="post">

  <label>
    Deal Title:<input type="text" name="title">
  </label>

  <label>
    Vendor:
    <select name="vendor_id">
      <% for deal in Deal.all() %>
      <option value="<%= deal.vendor_id %>"> <%= deal.get_vendor %></option>
      <% end %>
    </select>
  </label>

  <label>
    Discounted on:
    <select name="day">
      <option value="Monday">Monday</option>
      <option value="Tuesday">Tuesday</option>
      <option value="Wednesday">Wednesday</option>
      <option value="Thursday">Thursday</option>
      <option value="Friday">Friday</option>
      <option value="Saturday">Saturday</option>
      <option value="Sunday">Sunday</option>
    </select>
  </label>
  <input type="submit" value = "Add Deal" />
</form>