body {
  background: #ff6356 url('/images/burger.jpeg');
  background-size: 100%;
  font-family: 'Oswald', sans-serif;
}

.title-nav-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*border: 10px solid yellow;*/
}

.title-nav-container a,
.title-nav-container a:link,
.title-nav-container a:visited {
  text-decoration: none;
  color: #ffaaa3;
}

.title-nav-container a:hover,
.title-nav-container a:active,
.title-nav-container a:focus {
  color: yellow;
}

.title-nav-container h1 {
  font-family: 'Passion One', sans-serif;
  font-size: 100px;
  font-style: italic;
  letter-spacing: -2px;
  color: #2e1f1d;
  margin: 0;
}

.title-nav-container nav {
  display: flex;
  background-color: #2e1f1d;
  background: rgba(0,0,0,0.4);
  border-radius: 15px;
  padding: 10px;
}

.title-nav-container ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 35px;
}



.title-nav-container li {
  margin: 0 10px;
  text-transform: uppercase;
  font-style: italic;
}

.main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffB0A8;
  padding: 20px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.4);
  color: #ff6356;
}

.main h1 {
  font-family: 'Passion One', sans-serif;
  font-size: 100px;
  font-style: italic;
  font-weight: lighter;
  color: #ff6356;
  margin: 0;
}

.main a,
.main a:link,
.main a:visited {
  text-decoration: none;
  color: #ff6356;
}

.main a:hover,
.main a:active,
.main a:focus {
  color: yellow;
}