<h2>Burgers</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Vendor</th>
    </tr>
  </thead>
  <tbody>
    <% for burger in @burgers %>
    <tr>
      <td>
      <a href="burgers/<%= burger.id %>"><%= burger.name %></a>
      </td>
      <td><%= burger.price %></td>
      <td><%= burger.vendor_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>