<h1><%= @burger.name %></h1>
  <form action="/burgers/<%= @burger.id %>/edit" method = "get" />
    <input type="submit" value="Edit" />
  </form>

  <form action="/burgers/<%= @burger.id %>/delete" method="post">
    <input type="submit" value="Delete">
  </form>
